/*Hides Register Button on Login Page*/

a.register.screen-reader-shortcut {
    display: none;
}

.right-col .register+.login {
    margin-left: 10px;
    background: #FCBD36;
    color: #1F222b;
}

/*CHANGES COLOR OF MENU DROP DOWN TO STANDARD */

.header-account-login .pop .logout {
    background: #f5f5f5;
}

#masthead .pop-inner {
    background-color: #f5f5f5;
}

/*MOBILE - HIDES CART IN MENU */

#cart-nav-wrap {
    display: none;
}

/*MOBILE - CHANGES HEADER COLORS */

.sidebar-btn.fa {
    color: #1F2228;
}

.sidebar-btn:hover {
    color: #1F2228;
}

#profile-nav {
    color: #1F2228;
}

/*MAIN SCREEN SEARCHBAR TO WHITE*/

.search-wrap input[type=text] {
    background-color: white;
}

/* BLOG POST LINE HEIGHT */

.entry-content p {
    line-height: 1.75;
    margin-top: 18px;
}

/*HIDES DOUBLE DROPDOWN IN CHECKOUT PAGE */

.buddyboss-select {
    display: none;
}

/*HIDES HOME PAGE TITLE */

.home-page header.entry-header .entry-title {
    display: none;
}

/*CHANGES COLOR ON LOGIN PAGE*/

.login form .forgetmenot input[type="checkbox"] {
    opacity: .5 !important;
}

.postid-10061 header.entry-header .entry-title {
    display: none;
}

/*CHANGES GREEN CHECKS ON LESSON PAGES TO THEME COLOR GREEN*/

#learndash_profile #course_list h4>a.completed:after,
.ld-item .completed:before,
.learndash .completed:before,
.learndash .topic-completed:before {
    color: #9DD02E;
}

.page-cover .entry-meta .comments-link a,
.page-cover .entry-meta .post-date time {
    font-weight: 700;
    display: none;
}

/*CHANGES FONT COLOR ON CART PAGE */

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
    color: white;
}

.woocommerce #respond input#submit,
.woocommerce #respond input#submit:hover,
.woocommerce a.button,
.woocommerce a.button:hover,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce input.button:hover {
    color: #fff !important;
}

/*CHANGES BORDER COLOR ON CERTIFICATE FROM BLUE TO PURPLE */

#learndash_course_certificate {
    border-color: #4B4D99;
    color: #4B4D99;
}

/*CHANGES PROGRESS BAR COLOR TO PURPLE*/

#course-list-wrap dd.course_progress div.course_progress_blue {
    background-color: #4B4D99;
}

/*CHANGES COLOR OF QUIZ CONTINUE BUTTONS TO PURPLE*/

.single-sfwd-lessons u+table td .button-primary,
#quiz_continue_link,
input[type="submit"].wpProQuiz_button2,
input[type="button"]:not(.button-small).wpProQuiz_button,
#sfwd-mark-complete input[type="submit"] {
    border-color: #4B4D99;
    color: #4B4D99;
}

/*CHANGES COLOR OF QUIZ TIME LIMIT TO PURPLE */

.wpProQuiz_time_limit .wpProQuiz_progress {
    background-color: #4B4D99;
}

/*CHANGES QUIZ QUESTION PAGE COLOR TO PURPLE */

.wpProQuiz_question_page {
    color: #4B4D99;
}

.wpProQuiz_questionList input[type="checkbox"]:checked+strong:after {
    background-color: #4B4D99;
}

/*CHANGES COLOR TO PURPLE ON LIST OF COURSE TABS*/

.type-sfwd-courses .item-list-tabs ul li span {
    background-color: #4B4D99;
}

.type-sfwd-courses .item-list-tabs ul li:hover,
.type-sfwd-courses .item-list-tabs ul li.current {
    border-bottom: 1px solid;
    color: #4B4D99;
}

/*CHANGES COLOR OF ARROWS IN SIDEBAR COURSE NAVIGATION TO GREEN */

.list_arrow.flippable.lesson_completed.expand {
    color: #9DD02E;
    border-color: #9DD02E;
}

/*CHANGES COLOR TO My COURSE LIST PROGRESS TO THEME */

#learndash_profile #course_list h4>a.notcompleted:after,
.ld-item .notcompleted:before,
.learndash .notcompleted:before,
.learndash .topic-notcompleted:before {
    color: #D0542E;
}

#learndash_profile #course_list a.notavailable:after,
.ld-item .notavailable:before,
.learndash .notavailable:before {
    color: #6b6f72;
}

#learndash_profile #course_list h4>a.in-progress:after,
.ld-item .in-progress:before,
.learndash .in-progress:before,
.learndash .topic-in-progress:before {
    color: #FCBD36;
}

#learndash_profile #course_list h4>a.completed:after,
.ld-item .completed:before,
.learndash .completed:before,
.learndash .topic-completed:before {
    color: #9DD02E;
}

/*CHANGES COURSE PROGRESS COLOR ON COURSE PAGE*/

#learndash_course_status {
    border-color: #FCBD36;
    color: #FCBD36;
}

#learndash_course_certificate {
    border-color: #9DD02E;
    color: #9DD02E;
}

/*CHANGES SHOW VIDEO BUTTON COLOR */

#show-video {
    border-color: #FCBD36;
    color: #FCBD36;
}

/*CHANGES COURSE PROGESS BAR COLOR TO GREEN */

.course-header dd.course_progress div.course_progress_blue {
    background-color: #9DD02E;
}

/*HIDES RSS FEED ON BUDDY FEED */

li.feed {
    display: none;
}

/*CHANGES FREE TO MATCH THEME GREEN */

.is_sample {
    background-color: #9DD02E;
    color: #414141;
    margin-top: 2px;
    margin-left: 5px;
}